
RewriteEngine on
RewriteCond %{HTTP_HOST} ^odinlite\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.odinlite\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/www\.odinlite\.com\/public" [R=301,L]

